@model LadiesAndGentlemenWebSite.Models.Order
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "My Order";
}

<img src="~/photo/logo.png" class="logo">
<br /><br /><br /><br />   
<div>
    <h3>Order No. @Html.DisplayFor(model => model.Id) </h3>
    <hr />
    <h3>Contact details  </h3>
    <table class="table">

        <tbody>
            <tr>
                <th scope="row">client name:  @Html.DisplayFor(model => model.Client.FirstName)  @Html.DisplayFor(model => model.Client.LastName)</th>


            </tr>
            <tr>
                <th scope="row">mobile: @Html.DisplayFor(model => model.Client.PhoneNumber)</th>


            </tr>
            <tr>
                <th scope="row"> Email address:  @Html.DisplayFor(model => model.Client.Email)</th>


            </tr>
        </tbody>
    </table>


    <h3>Contact details  </h3>
    <table class="table">

        <tbody>
            <tr>
                <th scope="row"> street:  @Html.DisplayFor(model => model.Client.Address.Street)</th>


            </tr>
            <tr>
                <th scope="row">house number:  @Html.DisplayFor(model => model.Client.Address.HouseNumber)</th>


            </tr>
            <tr>
                <th scope="row"> zip code:  @Html.DisplayFor(model => model.Client.Address.Zip)</th>


            </tr>
            <tr>
                <th scope="row">city: @Html.DisplayFor(model => model.Client.Address.City)</th>


            </tr>
        </tbody>
    </table>

    <h3>
        The items you ordered:
    </h3>
    @foreach (var item in Model.Carts)
    {
        <img src="@item.Product.Image" height="100" />


    }
    <br />
    <br />
    <h5>

        Total:@Context.Session.GetString("price")$
    </h5>
</div>
<p> Shipping will arrive for up to two weeks from today</p>


<a asp-action="sending" asp-controller="Home">for information about our shipping policy</a>

